<div class="primary-color">
  <div class="container w-100 primary-color">
    <div class="row">
      <div class="col-1 my-2">
        <img alt="" src="/assets/images/Logo_ML.png" class="image-mobile img-fluid align-items-center">
        <img alt="" src="/assets/images/Logo_ML@2x.png.png" class="image-full img-fluid">
      </div>
      <div class="col-11">
        <div class="flexContainer my-2">
          <input (keyup.enter)="find(search)" type="textb" [(ngModel)]="search" name="search" class="inputField height-imput background-color-grey searchBox searchInput border-none radiusSeach-0 pl-10"
                 placeholder="Nunca dejes de buscar">
          <button (click)="find(search)" class="searchBox radius-0 border-none">
            <img alt="" src="/assets/images/ic_Search.png" class="image-search image-mobile">
            <img alt="" src="/assets/images/ic_Search@2x.png.png" class="image-search">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



